.doctor-profile-wrapper {
  background-color: #fff;
  padding: 50px;
  margin-right: 20px;
  border-radius: 5px;
}


.doc-tab .ant-tabs-nav-wrap {
  justify-content: flex-start !important;
}

.doc-tab .ant-tabs-tab{
    padding: 13px 40px !important;
}
