.ant-picker-calendar-date-today {
  border-radius: 50% !important;
}

.ant-picker-calendar-date-today::before {
  border: none !important;
}

.ant-picker-cell-inner{
    border-radius: 50% !important;
}